{% extends 'pages/archive.twig' %}
{% block archive_type %}popular{% endblock archive_type %}

{% block page_title %}
    I post più poplari - 
{% endblock page_title %}
{% block sticky_title %}
    <h1 class="d-none d-xl-none">I più popolari</h1>
{% endblock sticky_title %}
{% block title %}
<h2 class="general-title">I post più popolari</h2>
{% endblock title %}