$icomoon-font-family: "Girolibero-iconset" !default;
$icomoon-font-path: "fonts" !default;

$icon-available: "\e905";
$icon-empty: "\e934";
$icon-full: "\e945";
$icon-facebook: "\e900";
$icon-instagram: "\e913";
$icon-youtube: "\e914";
$icon-banner: "\e910";
$icon-share: "\e915";
$icon-close: "\e90e";
$icon-carret: "\e941";
$icon-search: "\e901";
$icon-arrow-up: "\e904";
$icon-arrow-right: "\e943";
$icon-arrow-down: "\e902";
$icon-arrow-left: "\e903";
$icon-return: "\e906";
$icon-calendar: "\e907";
$icon-tick: "\e90a";
$icon-thumbnail: "\e908";
$icon-favourite: "\e90b";
$icon-favourite-border: "\e90c";
$icon-rating: "\e90d";
$icon-info: "\e90f";
$icon-location: "\e911";
$icon-phone: "\e912";
$icon-phone-chat: "\e916";
$icon-support: "\e917";
$icon-advice: "\e918";
$icon-howtobook: "\e919";
$icon-history: "\e91a";
$icon-luggage: "\e91b";
$icon-overnight-stay: "\e91c";
$icon-insurance: "\e91d";
$icon-top-destination: "\e91e";
$icon-bike-boat: "\e920";
$icon-bike-family: "\e921";
$icon-bike-hotel: "\e922";
$icon-boat: "\e923";
$icon-roadbike: "\e924";
$icon-family: "\e925";
$icon-indipendent: "\e926";
$icon-group: "\e927";
$icon-mate: "\e928";
$icon-earth: "\e929";
$icon-earth-airplane: "\e92a";
$icon-sail: "\e92b";
$icon-cruise: "\e92c";
$icon-houseboat: "\e92d";
$icon-party: "\e92e";
$icon-backpack: "\e942";
$icon-itinerary-full: "\e92f";
$icon-catalogue: "\e931";
$icon-contract: "\e932";
$icon-data-sheet: "\e933";
$icon-deepening: "\e944";
$icon-howitworks: "\e935";
$icon-list: "\e936";
$icon-map: "\e937";
$icon-mountain-route: "\e938";
$icon-newsletter: "\e939";
$icon-other-topic: "\e93a";
$icon-review: "\e91f";
$icon-price: "\e93b";
$icon-itinerary: "\e930";
$icon-sales: "\e93c";
$icon-trekking: "\e93d";
$icon-worldtraveller: "\e93e";
$icon-tailormade: "\e93f";
$icon-pregroup: "\e946";
$icon-topic: "\e940";
$icon-girolibero: "\e909";

// Iconset 2021 test

$icomoon-font-path-21: "fonts" !default;
/*
$IconsGIROLIBEROattivita: "\e900";
$IconsGIROLIBERObici: "\e901";
$IconsGIROLIBERObicibarca: "\e902";
$IconsGIROLIBERObicicorsa: "\e903";
$IconsGIROLIBERObicihotel: "\e904";
$IconsGIROLIBEROfamiglia: "\e905";
$IconsGIROLIBEROformula: "\e906";
$IconsGIROLIBEROgruppo: "\e907";
$IconsGIROLIBEROindividuale: "\e908";
$IconsGIROLIBEROsumisura: "\e909";
$IconsGIROLIBEROtrekking: "\e90a";
$IconsGIROLIBEROviaggiamondo: "\e90b";*/


// Iconset 2021 test #2

$icomoon-font-path-21: "fonts" !default;

$IconsGIROLIBEROactivities: "\e900";
$IconsGIROLIBEROair-ticket-office: "\e901";
$IconsGIROLIBEROalone: "\e902";
$IconsGIROLIBEROanello: "\e903";
$IconsGIROLIBEROarchitecture: "\e904";
$IconsGIROLIBEROassistance: "\e905";
$IconsGIROLIBERObeach: "\e906";
$IconsGIROLIBERObike-and-boat: "\e907";
$IconsGIROLIBERObike-and-hotel: "\e908";
$IconsGIROLIBERObike: "\e909";
$IconsGIROLIBEROboat: "\e90a";
$IconsGIROLIBEROcanoe: "\e90b";
$IconsGIROLIBEROcatamaran: "\e90c";
$IconsGIROLIBEROchild-bike-accessories: "\e90d";
$IconsGIROLIBEROcomfort: "\e90e";
$IconsGIROLIBEROcrew: "\e90f";
$IconsGIROLIBEROcustomer-care: "\e910";
$IconsGIROLIBEROcut-to-size: "\e911";
$IconsGIROLIBEROcycling: "\e912";
$IconsGIROLIBEROdog: "\e913";
$IconsGIROLIBEROelectric-bike: "\e914";
$IconsGIROLIBEROextra-nights: "\e915";
$IconsGIROLIBEROfamily: "\e916";
$IconsGIROLIBEROflydry: "\e917";
$IconsGIROLIBEROfood-diets: "\e918";
$IconsGIROLIBEROgourmet: "\e919";
$IconsGIROLIBEROguided-tours: "\e91a";
$IconsGIROLIBEROhelmet: "\e91b";
$IconsGIROLIBEROhouseboat: "\e91c";
$IconsGIROLIBEROinfo-material: "\e91d";
$IconsGIROLIBEROinsurance: "\e91e";
$IconsGIROLIBEROlineare: "\e91f";
$IconsGIROLIBEROluggage-transport: "\e920";
$IconsGIROLIBEROmaintenance: "\e921";
$IconsGIROLIBEROmargherita: "\e922";
$IconsGIROLIBEROmarried: "\e923";
$IconsGIROLIBEROmeal: "\e924";
$IconsGIROLIBEROmountain: "\e925";
$IconsGIROLIBEROnature: "\e926";
$IconsGIROLIBEROoriginal: "\e927";
$IconsGIROLIBEROparticula-bikes: "\e928";
$IconsGIROLIBEROracing-bike: "\e929";
$IconsGIROLIBEROroadbike: "\e92a";
$IconsGIROLIBEROsailboat: "\e92b";
$IconsGIROLIBEROsailboat2: "\e92c";
$IconsGIROLIBEROself-guide: "\e92d";
$IconsGIROLIBEROship-ticket-office: "\e92e";
$IconsGIROLIBEROspecialist: "\e92f";
$IconsGIROLIBEROsupplements: "\e930";
$IconsGIROLIBEROtour-leader: "\e931";
$IconsGIROLIBEROtours: "\e932";
$IconsGIROLIBEROtrain-ticket-office: "\e933";
$IconsGIROLIBEROtransfer: "\e934";
$IconsGIROLIBEROtrekking: "\e935";
$IconsGIROLIBEROvillage-people: "\e936";
$IconsGIROLIBEROwellness: "\e937";
$IconsGIROLIBEROwiith-who: "\e938";

