$logo-bg: #FFFF00;
$logo-color: #000;
$primary: #FFFF00;
$light-primary: #FFFEBB;
$light2-primary: #FFFFCC;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1450px // Nuovo valore per xxl
);